@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: rgba(48, 48, 48, 0.534);
    height: 45px;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(30px);
}

/* .navir{
    height: 15px;
}
.navil{
    height: 22px; */

li {
    list-style: none;
    display: inline-flex;
    color: rgba(183, 183, 183, 0.814);
    font-family: "Inter", sans-serif;
}

.ltext {
    font-size: 13px;
}


.discount {
    background-color: rgb(29, 29, 31);
    height: 25px;
    text-align-last: center;
    font-size: 14px;
    display: block;
}

.discount>p {
    color: rgba(240, 248, 255, 0.793);
    font-family: "Inter", sans-serif;
}

span {
    color: rgb(0, 113, 227);
}

.ipad p {
    display: block;
    font-family: "Inter", sans-serif;
    color: rgb(245, 245, 247);
    font-weight: 450;
    font-size: 30px;
    /* letter-spacing: 0.001em; */
}

.ipad h1 {
    padding-top: 50px;
    color: rgb(245, 245, 247);
    font-size: 60px;
    font-weight: 600;
    display: block;
    text-align-last: center;
}

.learn>a {
    color: azure;
    font-weight: 400;
    text-decoration: none;
    font-size: 17.5px;
    font-family: "Inter", sans-serif;
    display: flex;
    background-color: rgb(20, 124, 228);
    border-radius: 30px;
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;

}

.learn>a:hover{
    background-color: rgb(35, 134, 233);
}

/* .buy {
    display: flex;
    border: 1px solid rgb(20, 124, 228);
    border-radius: 30px;
    height: 45px;
    width: 70px;
    justify-content: center;
    align-items: center;

} */

.buy>a {
    border: 1px solid rgb(20, 124, 228);
    color: rgb(20, 124, 228);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17.5px;
    text-decoration: none;
    border-radius: 30px;
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buy>a:hover{
    color: white;
    background-color: rgb(35, 134, 233);

}

.ipad {

    display: flex;
    height: 85vh;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url(img/hero_ipadpro__bpt7a9d8sh42_large.jpg);
    background-position: bottom;
    background-size: 200%;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.004em;
    font-family: "Inter", sans-serif;
    position: relative;
}

.buttons {
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.textipad{
    padding-top: 55px;
    letter-spacing: -0.03em;
}

.air{
    margin-top: 10px;
    /* margin-bottom: 10px;*/
    display: flex; 
    height: 75vh;
    background-color: black;
    background-repeat: no-repeat;
    background-image: url(img/hero_ipadair__flhdv47anjqu_large.jpg);
    background-position: center;
    background-size: cover;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .004em;
    font-family: "Inter", sans-serif;
    position: relative;
}
.air p {
    display: flex;
    font-family: "Inter", sans-serif;
    color: rgb(10, 10, 10);
    font-weight: 400;
    font-size: 25px;
    letter-spacing: -.02em; 
    justify-content: center;
    align-items: center;
    word-spacing: -0.09em;
}
.air img{
    padding-left: 100px;
}

.air .learn>a {
    color: azure;
    font-weight: 400;
    text-decoration: none;
    font-size: 17.5px;
    font-family: "Inter", sans-serif;
    display: flex;
    background-color: rgb(20, 20, 20);
    border-radius: 30px;
    height: 45px;
    width: 130px;
    justify-content: center;
    align-items: center;


}

.air .learn>a:hover{
    background-color: rgb(33, 33, 33);
}

/* .buy {
    display: flex;
    border: 1px solid rgb(20, 124, 228);
    border-radius: 30px;
    height: 45px;
    width: 70px;
    justify-content: center;
    align-items: center;

} */

.air .buy>a {
    border: 1px solid rgb(14, 14, 14);
    color: rgb(8, 8, 8);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 17.5px;
    text-decoration: none;
    border-radius: 30px;
    height: 45px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.textair{
    padding-top: 50px;
}
  

.air .buy>a:hover{
    color: white;
    background-color: rgb(33, 33, 33);

}
